footer {

    nav {
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        div {

            a img {
                width: 12rem;
                flex-grow: 2;
            }
        }


        .social-icon {
            grid-column-start: 5;
            grid-column-end: 6;
            display: flex;
            justify-items: center;
            align-items: center;

            a img {
                width: 25px;

            }

        }

    }
}